.content {
  width: 100%;
  width: calc(100% - #{$nav-sidebar-width} - 3em);
  min-height: 100%;
  margin-top: 6em + 2em;
  margin-left: $nav-sidebar-width;
  box-sizing: border-box;
  padding: 0 1.5em 1.5em 1.5em;
}
