.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $header-background-color;
  z-index: $z-index-header;

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    width: calc(100% - #{$nav-sidebar-width});
    height: $header-height;
    // adding a margin instead of padding to move the header so that
    margin-left: $nav-sidebar-width;
    // padding-right: $nav-sidebar-width;
    border-bottom: $nav-sidebar-border-bottom;

    max-width: 1024px;
  }

  &__search-input {
    display: block;
    float: right;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #EEE;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    width: 256px;
  }

  &__title {
    float: left;
  }

  &__logo {
    @include vertical-align;
    margin-left: 2em;
  }
}
