
.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $nav-sidebar-width;
  overflow: hidden;
  padding: $header-padding;

  &__list {
    &--nested {
      margin: 0.25em 0 0.5em 1.25em;
    }
  }

  &__item {
    font-size: 14px;
    letter-spacing: 0.0875em;
    line-height: 1.5;

    &--active > a {
      color: $color-font-grey-active;
    }
  }

  &__url {
    text-decoration: none;
    color: $color-font-grey;
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      color: $color-font-grey-active;
    }
  }
}
