// ########################################
// Colors
// ########################################

$color-font: #ffffff;

$color-white: #ffffff;
$color-light-grey: #EEEEEE;

$color-status-ok: #4CAF50;
$color-status-note: #FFEB3B;
$color-status-issue: #f44336;

// $color-font-grey: #BDBDBD;
$color-font-grey: #212121;
// $color-font-grey-active: $color-status-issue;

// $color-font-grey-active: #1D4A6b;
$color-font-grey-active: #0f6Eb7;

// ########################################
// TYPE
// ########################################

// NOTE: before rewrite was with important 
$font-family-sans-serif: 'Lato', Sans-serif;

$font-weight-hairline: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
// $font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;


// ########################################
// BREAKBOINTS
// ########################################


// ########################################
// Z-index - list grows as we go
// ########################################
$z-index-header: 5;

// ########################################
// COMPONENTS
// ########################################

$body-color: $color-font;
$body-background-color: $color-white;

$header-height: 6em;
$header-background-color: $body-background-color;
$header-padding: $header-height + 2em 0em 1em 1em;


$nav-sidebar-width: 13em;
$nav-sidebar-item-font-size: 14px;
$nav-sidebar-border-bottom: 1px solid $color-light-grey;

$patient-status-icon-size: 12px;
$patient-status-icon-border-radius: 100%;
$patient-status-icon-ok-color: $color-status-ok;
$patient-status-icon-note-color: $color-status-note;
$patient-status-icon-issue-color: $color-status-issue;
